<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>328148440274-nkhiopaq9cmiheh72h5m019glqbv11s0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.328148440274-nkhiopaq9cmiheh72h5m019glqbv11s0</string>
	<key>API_KEY</key>
	<string>AIzaSyCDDnCMquCVwuruv9fS-rCCCa8uGYxexVs</string>
	<key>GCM_SENDER_ID</key>
	<string>328148440274</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.spatu</string>
	<key>PROJECT_ID</key>
	<string>spatu-189fe</string>
	<key>STORAGE_BUCKET</key>
	<string>spatu-189fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:328148440274:ios:1f910c4f37d2c3718fc90b</string>
</dict>
</plist>